@import "../Global/Global.scss";
@import "../../scss/vars.scss";
ul.footer-container{
        text-align: center;
        li{
            padding: 10px 0;
            margin-right: 10px;
            display: inline-block;
                a{
                    font-size: 11px;
                    color: $black;
                    text-transform: uppercase;
                }
        }
}
