@import "../Global/Global.scss";
@import "../../scss/vars.scss";
.sort-links-block{
   a{
       font-size: $fontXSmall;
       color: $black;
       line-height:18px;
       display: block;
   }
   b{
    text-transform: uppercase;
    font-size: $fontXMSmall;
    }
}

