@import "../Global/Global.scss";
@import "../../scss/vars.scss";
.category-links-block{
   a{
       font-size: $fontXSmall;
       color: $black;
       line-height:18px;
       display: block;
   }
   b{
    text-transform: uppercase;
    font-size: $fontXMSmall;
    }
    ul{
        li{
            padding-left: 10px;
            ul{
                li{padding-left: 10px;}
            }
        }
    }

}

